@charset "utf-8";
html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #f4f4f4;
}

body {
    color: #000;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
}

a, a:hover, a:active, a:visited, a:target {
    color: #000;
}

.bgWhite {
    background: #fff;
}

/*--header start--*/
.header {
    height: 63px;
    border-bottom: 1px solid #ddd;
}

.box {
    margin: 0 auto;
    width: 1040px;
    height: 100%;
}

.box > * {
    /*--不兼容IE6--*/
    float: left;
}

.box .logo {
    margin-right: 60px;
    width: 160px;
    height: 100%;
    background: url("../img/kbs-logo.png") no-repeat center center;
    text-indent: -100px; /*让文字不显示除了这样可以以外还可以使用font-size=0*/
    overflow: hidden;
}

.box li {
    float: left;
}

.box li a {
    display: block;
    width: 90px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border: 4px solid transparent;
    border-left: none;
    border-right: none;
    font-size: 16px;
    font-weight: 700;
}

.box li.bg {
    background: #346aff;
}

.box li.bg a {
    color: #fff;
}

.box li:hover a {
    border-top-color: #346aff;
}

.box li.downLoad {
    position: relative;
}

.box li.downLoad .iframeBg, .box li.downLoad .code {
    position: absolute;
    top: 62px;
    left: -14px;
    padding: 0 14px;
    width: 93px;
    height: 0; /*179px*/
    overflow: hidden;

    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
}

.box li.downLoad .iframeBg {
    z-index: 1;
    background: #fff;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.box li.downLoad .code {
    z-index: 2;
}

.box li.downLoad .code img {
    display: block;
    margin-top: 18px;
    width: 93px;
    height: 93px;
}

.box li.downLoad .code span {
    display: block;
    line-height: 25px;
    text-align: center;
}

.box .live {
    width: 63px;
    height: 100%;
    background: url("../img/live-qq-logo.jpg") no-repeat center center;
    font-size: 0;
}

.box .login {
    float: right;
    margin-top: 17px;
    width: 46px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    color: #fff;
    background: #346aff;
    border-radius: 3px;
}

.box .login:hover {
    background: #265cf0;
}

/*--section start--*/
.section {
    margin: 20px auto 10px;
    width: 1040px;
    overflow: hidden;
}

.nav {
    position: relative;
    float: left;
    width: 200px;
    height: 100%;
}

.nav ul {
    border: 1px solid #eee;
}

.nav ul li {
    position: relative;
    padding-left: 24px;
    height: 50px;
    line-height: 50px;
    border-left: 5px solid transparent;
    color: #555;
    font-size: 16px;
    cursor: pointer;
}

.nav ul li i {
    display: none;
    position: absolute;
    right: 10px;
    top: 17px;
    width: 16px;
    height: 16px;
    font-size: 0;
}

.nav ul li i:before, .nav ul li i:after {
    content: "";
    position: absolute;
    top: 2px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
}

.nav ul li i:before {
    left: 8px;
    border-left-color: #3374e0;
}

.nav ul li i:after {
    left: 5px;
    border-left-color: #eff3ff;
}

.nav ul li:hover, .nav ul li.bg {
    background: #eff3ff;
    color: #3374e0;
    border-left-color: #3374e0;
}

.nav ul li.bg i {
    display: block;
}

/*--right start--*/
.right {
    float: right;
    width: 820px;
    height: 100%;
}

.right .hot ,.matchList{
    display: block;
}

.right .match {
    display: none;
}

.hot {
    position: relative;
    height: 100%;
}

.hot > .content > div {
    margin-bottom: 25px;
    border: 1px solid #eee;
    border-bottom: none;
    background: #fff;
}

.right h2 {
    position: relative;
    padding: 10px 0 10px 20px;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #eee;
}

.right h2 i {
    position: absolute;
    top: 10px;
    left: 0;
    width: 5px;
    height: 20px;
    background: #ff4340;
}

.hot .ending h2 i {
    background: #999;
}

.right li {
    border-bottom: 1px solid #eee;
}

.right li .last {
    margin: 0 28px;
    height: 30px;
    line-height: 30px;
    border-top: 1px dashed #eee;
    color: #999;
    font-size: 12px;
}

.right li .last .one {
    color: #ff9800;
}

.right li .detail {
    height: 60px;
    line-height: 60px;
    color: #555;
    font-size: 16px;
}

.right li .detail > * {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    height: 100%;
}

.right li .detail .d1 {
    font-size: 14px;
    margin-left: 28px;
    width: 123px;
    color: #999;
}

.right li .detail .d2 {
    width: 128px;
}

.right li .detail img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}
.right li .detail .single{
    width: 300px;
    text-align: left;
}
.right li .detail img.d7 {
    margin-right: 18px;
}

.right li .detail img.d8 {
    margin-left: 18px;
}

.right li .detail .d3, .right li .detail .d5 {
    width: 80px;
}

.right li .detail .d5 {
    text-align: right;
}

.right li .detail .d4 {
    margin-top: 16px;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #ff4340;
    color: #fff;
    font-size: 18px;
}

.right .ending li .detail .d4 {
    background: transparent;
    color: #3374e0;
}

.right li .detail .d6 {
    float: left;
    width: 156px;
    text-align: center;
    color: #ff4340;
    font-size: 14px;
}

.hot .ending li .detail .d6 {
    color: #3374e0;
}

/*--match start--*/
.match {
    height: 100%;
}

.match .calendar {
    position: relative;
    height: 80px;
    border: 1px solid #eee;
    background: #fff;
}

.match .calendar > a {
    position: absolute;
    top: 0;
    width: 25px;
    height: 100%;
}

.match .calendar > a.calLeft {
    left: 0;
}

.match .calendar > a.calRight {
    right: 0;
}

.match .calendar > a span {
    position: absolute;
    top: 31px;
    width: 0;
    height: 0;
    font-size: 0;
    border: 9px solid transparent;
}

.match .calendar > a span.arrow1 {
    left: 0;
    border-right-color: #999;
}

.match .calendar > a span.arrow2 {
    left: 3px;
    border-right-color: #fff;
}

.match .calendar > a span.arrow3 {
    right: 0;
    border-left-color: #999;
}

.match .calendar > a span.arrow4 {
    right: 3px;
    border-left-color: #fff;
}

.match .calendar > a:hover span.arrow1 {
    border-right-color: #3374e0;
}

.match .calendar > a:hover span.arrow3 {
    border-left-color: #3374e0;
}

.calendar .calList {
    position: relative;
    margin: 0 auto;
    padding: 5px 0;
    width: 770px;
    height: 70px;
    overflow: hidden;
}

.calendar .calList ul {
    position: absolute;
    top: 5px;
    left: 0;
}

.calendar .calList li {
    float: left;
    padding-top: 10px;
    width: 110px;
    height: 60px;
    cursor: pointer;
}

.calendar .calList li span {
    display: block;
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 16px;
}

.calendar .calList li span.week {
    color: #555;
}

.calendar .calList li:hover, .calendar .calList li.bg {
    background: #eff3ff;
}

.calendar .calList li:hover span, .calendar .calList li.bg span {
    color: #3374e0;
}

.match .matchList {
    position: relative;
    margin-top: 20px;
    line-height: 30px;
    background: #f4f4f4;
    font-size: 24px;
    overflow: hidden;
}
.matchList >.content{
    position: absolute;
    top: 0;
}
.matchList >.content>div{
    margin-top: 20px;
    background: #fff;
    width: 850px;
}
  {

}