@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
}

.top {
    margin: 0 auto;
    height: 45px;
    line-height: 45px;
    width: 80%;
    min-width: 500px;
    /*background: gainsboro;*/
    font-size: 20px;
}

a {
    margin-left: 5px;
}

.top span {
    font-size: 15px;
    float: right;
}

ul li {
    list-style: none;
}

input {
    display: inline-block;
    padding: 0 5px;
    width: 390px;
    height: 30px;
    outline: 30px;
    outline: none;
}

span {
    display: inline-block;
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
}

.box {
    margin: 20px auto;
    padding: 20px;
    width: 450px;
    border: 1px solid green;
}

.box li {
    margin-bottom: 20px;
}

.but {
    margin: 0 auto;
    width: 200px;
    height: 35px;
    line-height: 35px;
    background: green;
    color: #fff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
}
